Proyectos/XSD ExAutocorrección/xml/preguntas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tipo" type="xs:string"/>
  <xs:element name="enunciado" type="xs:string"/>
  <xs:element name="img" type="xs:string"/>
  <xs:element name="respuesta">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="correcto" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="pregunta">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tipo"/>
        <xs:element ref="enunciado"/>
        <xs:element ref="img"/>
        <xs:element ref="respuesta" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="preguntas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pregunta" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>